.success {
  color: $green;
}
.failure {
  color: $red;
}
.warning {
  color: $orange;
}
.info {
  color: $blue;
}
.royal {
  color: $purple;
}

.bg {
  &-success {
    background-color: $green;
  }
  &-failure {
    background-color: $red;
  }
  &-warning {
    background-color: $orange;
  }
  &-info {
    background-color: $blue;
  }
  &-royal {
    background-color: $purple;
  }
}
