.tweet {
  margin-bottom: 1em;
  opacity: 0;
  transition: opacity $speed / 2;

  a {
    text-decoration: none;
  }

  .date-time {
    font-size: .8em;
    opacity: .6;
  }

  &.fade-in {
    opacity: 1;
  }
}
