// _vars.scss
$black: #181A1F;
$white: #D7DAE1;
$grey: #A3AAB9;
$red: #F15C6C;
$green: #4AD18D;
$blue: #4E81F8;
$orange: #DA985D;
$yellow: #FFCA03;
$purple: #6638F0;

$obsidian: #20252C;
$charcoal: #272C35;



$speed: 333ms;
$radius: 3px;
