<article>
  <h1 class="heading-2" ng-hide="true">home</h1>
  <img ng-src="{{photoURL}}" alt="{{displayName}}" title="{{displayName}}" class="user-avatar">
  <ul ng-show="authData">
    <li class="panel columns" ng-class="{loading: loadingWeatherData}" ng-show="objMods.modules[0].active">
      <div class="icon column">
        <img ng-src="{{weatherData.condition.icon}}" alt="{{weatherData.condition.text}}" class="icon-weather">
      </div>
      <div class="text column">
        <p>Current weather for {{weatherLocation}}</p>
        <p ng-if="objMods.modules[0].unit === 'c'">{{weatherData.condition.text}}, {{weatherData.temp_c}}˚c, wind {{weatherData.wind_kph}} kph<span ng-if="weatherData.precip_mm !== 0">, rain {{weatherData.precip_mm}}mm</span></p>
        <p ng-if="objMods.modules[0].unit === 'f'">{{weatherData.condition.text}}, {{weatherData.temp_f}}˚f, wind {{weatherData.wind_mph}} mph<span ng-if="weatherData.precip_in !== 0">, rain {{weatherData.precip_in}}"</span></p>
      </div>
        <i class="icon-loading">loading...</i>
    </li>
    <li class="panel" ng-show="objMods.modules[1].active">
      <ul class="tube-status" ng-if="objMods.modules[1].tubeFaults">
        <li ng-repeat="line in tube" ng-if="line.lineStatuses[0].statusSeverityDescription !== 'Good Service'">
            <p><span class="tube-{{line.id}}">{{line.name}}</span> has {{line.lineStatuses[0].statusSeverityDescription}}</p>
        </li>
      </ul>
      <div ng-show="objMods.modules[1].lines[0].origin !== ''">
        <p>Next trains from {{stationName}}</p>
      <ul>
        <!-- track by $index doing weird things to the ng-if -->
        <li ng-repeat="train in trainsArriving | orderBy: 'timeToStation' track by $index" ng-if="train.direction === 'inbound'">
          <p><clean-station label="train.destinationName"></clean-station>  (<clean-line label="train.lineName"></clean-line>) expected at {{train.expectedArrival | date:'HH:mm'}} on {{train.platformName}}</p>
        </li>
      </ul>
    </div>

    </li>
    <li class="panel" ng-show="objMods.modules[2].active">
      <p><span ng-if="baseCurrency === 'GBP'">&pound;</span><span ng-if="baseCurrency === 'EUR'">&euro;</span><span ng-if="baseCurrency === 'BGN'">лв.</span><span ng-if="baseCurrency === 'NZD' || baseCurrency === 'AUD' || baseCurrency === 'USD'">$</span>1 {{baseCurrency}} is trading at
        <span ng-if="currencyOne === 'GBP'">&pound;</span><span ng-if="currencyOne === 'EUR'">&euro;</span><span ng-if="currencyOne === 'BGN'">лв.</span><span ng-if="currencyOne === 'NZD' || currencyOne === 'AUD' || currencyOne === 'USD'">$</span>{{currOneVal}} {{currencyOne}} <i class="fa fa-caret-down failure"></i> and <span ng-if="currencyTwo === 'GBP'">&pound;</span><span ng-if="currencyTwo === 'EUR'">&euro;</span><span ng-if="currencyTwo === 'BGN'">лв</span><span ng-if="currencyTwo === 'NZD' || currencyTwo === 'AUD' || currencyTwo === 'USD'">$</span>{{currTwoVal}} {{currencyTwo}}
        <i class="fa fa-caret-up success"></i></p>
        <p ng-if="currencyRise">currencyRise {{currencyRise}}</p>
        <p ng-if="currencyFall">currencyFall {{currencyFall}}</p>
        <p ng-if="currencySame">currencySame {{currencySame}}</p>
    </li>
    <li class="panel" ng-show="objMods.modules[3].active">
      <p>{{screenName}}</p>
      <ul>
        <li ng-if="loadingTweets">loading</li>
        <li ng-if="!loadingTweets" ng-repeat="tweet in tweets | limitTo: 5" class="tweet">
          <p>
            <a href="{{tweet.entities.urls[0].expanded_url ? tweet.entities.urls[0].expanded_url : 'http://www.twitter.com/' + tweet.user.name + '/status/' + tweet.id_str}}" target="_blank">
              <twitter-links label="tweet.text"></twitter-links>
            </a><br>
            <twitter-date label="tweet.created_at"></twitter-date>
          </p>
        </li>
      </ul>
    </li>
    <li class="panel" ng-show="objMods.modules[4].active">
      <p>Latest Strava results for Mark</p>
      <ul class="activities">
        <li ng-repeat="activity in stravaData | limitTo: 2" class="activity">
          <ul>
            <li><p>{{activity.start_date | date: 'EEE d MMM yyyy, h:mm a'}}</p></li>
            <li><p>Type: {{activity.type}}</p></li>
            <li><p>Total time: {{activity.elapsed_time}}</p></li>
            <li><p>Distance: {{activity.distance}}</p></li>
            <li><p>Average speed: {{activity.average_speed}} mph</p></li>
            <li><p>Max speed: {{activity.max_speed}} mph</p></li>
            <li><p>Kilojoules: {{activity.kilojoules}}</p></li>
            <li ng-if="activity.has_heartrate"><p>Average HR: {{activity.average_heartrate}} bpm</p></li>
            <li ng-if="activity.has_heartrate"><p>Max HR: {{activity.max_heartrate}} bpm</p></li>
          </ul>
        </li>
      </ul>
    </li>

  </ul>
</article>
