<article class="panel">
  <h3 class="title-greeting"><span ng-show="authData">{{greeting}} {{displayName}}</span></h3>

  <button type="button" class="btn btn-signout" name="signout" ng-click="signout()">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></button>

  <hr>
  <ul class="modules">
  <!-- weather -->
    <li class="module">
      <input type="checkbox"
       ng-change="updateModel()" ng-checked="objMods.modules[0].active" ng-model="objMods.modules[0].active" name="weather" id="module-weather">
      <label for="module-weather">weather</label>
      <div>
        <ul>
          <li>
            <label for="sub-item-location">Location:</label>
            <input type="text" name="sub-item-location" ng-change="updateModel()" ng-model="objMods.modules[0].location" id="sub-item-location" value="objMods.modules[0].location" ng-disabled="!objMods.modules[0].active">
          </li>
          <li class="sub-item-unit">
            <label for="sub-item-unit">Unit:</label>
            <ul class="temperature-units">
              <li>
                <label for="sub-item-unit-celcius">
                  <input type="radio" name="sub-item-unit" id="sub-item-unit-celcius"  ng-change="updateModel()" ng-model="objMods.modules[0].unit" ng-disabled="!objMods.modules[0].active" ng-checked="objMods.modules[0].unit === 'c'" value="c">
                  <span>Celcius</span>
                </label>
              </li>
              <li>
                <label for="sub-item-unit-fahrenheit">
                  <input type="radio" name="sub-item-unit" id="sub-item-unit-fahrenheit"  ng-change="updateModel()" ng-model="objMods.modules[0].unit" ng-disabled="!objMods.modules[0].active" ng-checked="objMods.modules[0].unit === 'f'" value="f">
                  <span>Fahrenheit</span>
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
  <!-- transport -->
    <li class="module">
      <input type="checkbox"
       ng-change="updateModel()" ng-checked="objMods.modules[1].active" ng-model="objMods.modules[1].active" name="tfl" id="module-tfl">
      <label for="module-tfl">TFL</label>
      <div>
        <ul>
          <li>
            <label for="sub-item-tfl-show-faults">Show tube faults</label>
            <input type="checkbox" name="sub-item-tfl-show-faults" id="sub-item-tfl-show-faults" value="" ng-change="updateModel()" ng-checked="objMods.modules[1].tubeFaults" ng-model="objMods.modules[1].tubeFaults" ng-disabled="!objMods.modules[1].active">
          </li>
          <li>
            <label for="sub-item-tfl-station">Station: </label>
            <!--<select ng-model="objMods.modules[1].lines" ng-change="updateModel()">
              <option ng-repeat="station in stations" ng-value="station.code">{{station.name}}</option> -->
            <select
              id="sub-item-tfl-station"
              ng-model="objMods.modules[1].lines"
              ng-options="station.code as station.name for station in stations"
              ng-name="sub-item-tfl-station"
              ng-change="updateModel()"
              ng-disabled="!objMods.modules[1].active">
            </select>
            <!-- <label for="tfl-line-origin">origin</label>
            <input type="text" name="tfl-line-origin" id="tfl-line-origin"  value="{{objMods.modules[1].lines[0].origin}}" ng-model="objMods.modules[1].lines[0].origin" ng-change="updateModel()" ng-disabled="!objMods.modules[1].active"> -->
          </li>
        </ul>
      </div>
    </li>
  <!-- currency -->
    <li class="module">
      <input type="checkbox"
       ng-change="updateModel()" ng-checked="objMods.modules[2].active" ng-model="objMods.modules[2].active" name="weather" id="module-currency">
      <label for="module-currency">Currency</label>
      <div>
        <ul>
          <li>
            <label for="sub-item-base-currency">Base Currency:</label>
            <input type="text" name="sub-item-base-currency" ng-change="updateModel()" ng-model="objMods.modules[2].baseCurrency" id="sub-item-base-currency" value="objMods.modules[2].localbaseCurrency" ng-disabled="!objMods.modules[2].active">
          </li>
          <li>
            <label for="sub-item-currency-one">Currency 1:</label>
            <input type="text" name="sub-item-currency-one" ng-change="updateModel()" ng-model="objMods.modules[2].currencyOne" id="sub-item-currency-one" value="objMods.modules[2].currencyOne" ng-disabled="!objMods.modules[2].active">
          </li>
          <li>
            <label for="sub-item-currency-two">Currency 2:</label>
            <input type="text" name="sub-item-currency-two" ng-change="updateModel()" ng-model="objMods.modules[2].currencyTwo" id="sub-item-currency-two" value="objMods.modules[2].currencyTwo" ng-disabled="!objMods.modules[2].active">
          </li>
        </ul>
      </div>
    </li>
    <!-- twitter -->
    <li class="module">
      <input type="checkbox"
       ng-change="updateModel()" ng-checked="objMods.modules[3].active" ng-model="objMods.modules[3].active" name="weather" id="module-twitter">
      <label for="module-twitter">Twitter</label>
      <div>
        <ul>
          <li>
            <label for="sub-item-twitter-handle">Username:</label>
            <input type="text" name="sub-item-twitter-user" ng-change="updateModel()" ng-model="objMods.modules[3].user" id="sub-item-twitter-user" value="objMods.modules[2].user" ng-disabled="!objMods.modules[3].active">
          </li>
        </ul>
      </div>
    </li>
    <!-- strava -->
    <li class="module">
      <input type="checkbox"
       ng-change="updateModel()" ng-checked="objMods.modules[4].active" ng-model="objMods.modules[4].active" name="weather" id="module-strava">
      <label for="module-strava">Strava</label>
      <div>
        <ul>
          <li>
            <label for="sub-item-strava-key">User key:</label>
            <input type="text" name="sub-item-strava-key" ng-change="updateModel()" ng-model="objMods.modules[4].key" id="sub-item-strava-key" value="objMods.modules[4].key" ng-disabled="!objMods.modules[4].active">
          </li>

          <!-- current beer on the brew -->
        </ul>
      </div>
    </li>
  </ul>
  <div class="alert" ng-class="{showAlert: showAlert}">
    <p>{{alert.message}}</p>
  </div>
</article>
